*{
    font-family: Helvetica, sans-serif;
}

.message-area{
    width: 90vw;
    height: 60vh;
    border: 1px solid black;
}

.message-textarea{
    width: 90vw;
    height: 10vh;

}

.options{
    display: flex;
}