*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Leckerli One', sans-serif;
    color: rgb(54, 54, 118);
}

.message-area-header{
    font-size: 4em;
    padding: 0.5em;
    text-align: center;
}

.truth-container{
    background-color: rgb(254, 231, 168);
}

.lie-container{
    background-color: rgb(170, 188, 247);
}

.truth-container, .lie-container{
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.7em;
}

.message-textarea{
    width: 80%;
    height: 15vh;
    padding: 0.4em;
    border: 1px solid gray;
    border-radius: 0.4em;
}

.send-button{
    margin-bottom: 2em;
}

.message-area{
    border: 0.2px solid rgb(130, 130, 130);
    overflow: scroll;
    height: 77vh;
}

.message-div{
    background-color: rgb(234, 234, 234);
    color: rgb(55, 55, 55);
    padding: 0.5em;
    margin: 0.4em;
    width: 35vw;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}



.You{
    float: right;
    background-color: rgb(234, 234, 234);
    color: black;
}

.Roderigo{
    background-color: rgb(255, 194, 194);
}

.Duke{
    background-color: rgb(255, 219, 194);
}

.Emilia{
    background-color: rgb(255, 235, 194);
}

.Othello{
    background-color: rgb(194, 255, 195);
}

.Cassio{
    background-color: rgb(194, 227, 255);
}

.Desdemona{
    background-color: rgb(209, 194, 255);

}

.Brabantio{
    background-color: rgb(194, 254, 255);
}