*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Leckerli One', sans-serif;
}

.message-area-header{
    font-size: 4em;
    color: rgb(54, 54, 118);
    padding: 0.5em;
    text-align: center;
}

.main-container, .message-area{
    width: 60vw;
    height: 60vh;
}

.message-area{
    width: 60vw;
    height: 60vh;
    border: 0.2px solid rgb(130, 130, 130);
    overflow: scroll;
}

.message-textarea{
    width: 60vw;
    height: 10vh;
    border: 0.2px solid rgb(130, 130, 130);
    margin: 0.5em 0;
}

.options{
    display: flex;
    margin: 0.5em;
}

button{
    margin: 0.5em;
}

.message-div{
  background-color:rgb(75, 128, 182);
  color: rgb(234, 234, 234);
  padding: 0.5em;
  margin: 0.4em;
  width: 35vw;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
}

.delete-button{
    font-size: 0.7em;
    padding: 0.4em;
    color: rgb(234, 234, 234);
    background-color: rgb(75, 128, 182);
    border: none;
    
}

.You{
    float: right;
    background-color: rgb(234, 234, 234);
    color: black;
}